@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import "content.scss";
@import "vars.scss";

*{
margin: 0px;
padding: 0px;
}

body{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: $color_background;
    font-family: $font_family;
    margin: 50px;
    align-items: center;
}

h1{
    font-weight: 100;
}

.todo-app{
    width: 560px;
    background-color: $color_white; 
    box-shadow: $box-shadow;
} 

.todo-app__frame{
    min-height: 400px;
}

.todo-app__button_select_all{
    @include image(url("../images/select-all.png"), no-repeat,center );
    background-color: transparent;
    border:none;
    height: 100%;
    width: 70px;
}

input[class=todo-app__button_select_all]:focus{
    @include border($color_black);
}

input[type="checkbox"]:focus + .task-item__status-replica {
    @include border($color_grey_border);
}

.task-item__delete{
    @include image(url("../images/close.png"), no-repeat,center );
    @include set_width_and_height(40px,40px );
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;    
    background-color: $color_white;
    opacity: 0;
}

.task-item:hover .task-item__delete,
.task-item__delete:focus {
    background-color: $color_grey_task_item;
    opacity: 100;
} 

.task-item__status-replica{
    margin: 10px;
    @include set_width_and_height(40px,40px );
    @include border($color_grey_main);
    display: inline-block;
    border-radius: 20px;
}

.task-item:hover {
    background: $color_grey_task_item;
}

input[type="checkbox"]:checked + .task-item__status-replica{
    border-color: $color_izumrud;
    background-size: 24px;
    @include image(url("../images/completed.png"), no-repeat,center );
}

input[type="checkbox"]{
    display: flex;
    appearance: none;;
}

.todo-app__add-text{
     border: none; 
    font-family: $font_family;
    font-style: italic;
    font-size: $font_size_24px;
    @include set_width_and_height(100%,99%);
    letter-spacing: -0.6px;
}

.todo-app__main-contorls{
    height: 66px;
    display: flex;
    border-bottom: 1px inset $color_grey_main;
}

.todo-app__header{
    color: $color_grey_border;
    font-size: $font_size_50px;
}

.todo-app__frame{
    max-width: 562px;
    width: 100%;
} 

.todo-app__footer{
    font-family: $font_family;
    color: $color_footer_text;
    border-top: 1px solid $color_grey_main;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: $font_size_14px;
}

.label{
    margin: 1px;
    border: none;
}

.filter{
    border:none;
}

.task-item__view{
    display: flex;
    align-items: center;
}

.task-item__text{
    margin-left: 5px;
    padding: 10px 0;
    color: $color_task_text;
    font-size:$font_size_24px;
    word-break: break-word;
    padding-right: 50px;
}

.clear_button{
    border: none;
    background-color: transparent;
}

.task-item{
    min-height: 60px;
    display: flex;
    position: relative;
    border-bottom: 1px solid $color_grey_main;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked +  .todo-app__footer-radio-replica{
    outline: 1px solid $color_footer_radio_replica_border;
}

input[type="radio"]:focus + .todo-app__footer-radio-replica {
    @include border($color_black);
}

.todo-app__footer-radio-replica{
    padding: 2px 8px;
    border-radius: 2px;
}

.todo-app_bottom-one{
    @include set_width_and_height(550px,5px );
    box-shadow: $box-shadow;
    background-color: $color_white;
    z-index: -1;
}

.todo-app_bottom-two{
    width: 538px;
    box-shadow:$box-shadow;
    height: 5px;
    background-color: $color_white;
    z-index: -2;
}

.items-left{
    padding-left: 12px;
}

.clear{
    padding-right: 12px;
}
