@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

*{
margin: 0px;
padding: 0px;
}

body{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #9e9e9e24;
    font-family: 'Roboto',sans-serif;
    margin: 50px;
    align-items: center;
}

h1{
    font-weight: 100;
}

.todo-app{
    width: 560px;
    background-color: #ffffff; 
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
} 

.todo-app__frame{
    min-height: 400px;
}

.todo-app__button_select_all{
    background-image: url("../images/select-all.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    height: 100%;
    width: 70px;
}

input[class=todo-app__button_select_all]:focus{
    border: 1px solid #000000;
}

input[type="checkbox"]:focus + .task-item__status-replica {
    border: 1px solid #CCCCCC;
}

.task-item__delete{
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: center;    
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;    
    background-color: #FFFFFF;
    opacity: 0;
}

.task-item:hover .task-item__delete,
.task-item__delete:focus {
    background-color: #FAFAFA;
    opacity: 100;
} 

.task-item__status-replica{
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    border-radius: 20px;
}

.task-item:hover {
    background: #FAFAFA;
}

input[type="checkbox"]:checked + .task-item__status-replica{
    background-image: url("../images/completed.png");
    border-color: #5DC2AF;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="checkbox"]{
    display: flex;
    appearance: none;;
}

.todo-app__add-text{
     border: none; 
    width: 100%;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 24px;
    height: 99%;
    letter-spacing: -0.6px;
}

.todo-app__main-contorls{
    height: 66px;
    display: flex;
    border-bottom: 1px inset #e6e6e6;
}

.todo-app__header{
    color: #CCCCCC;
    font-size: 50px;
}

.todo-app__frame{
    max-width: 562px;
    width: 100%;
} 

.todo-app__footer{
    font-family: Roboto, sans-serif;
    color: #888888;
    border-top: 1px solid #E6E6E6;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.label{
    margin: 1px;
    border: none;
}

.filter{
    border:none;
}

.task-item__view{
    display: flex;
    align-items: center;
}


.task-item__text{
    margin-left: 5px;
    padding: 10px 0;
    color: #666666;
    font-size: 24px;
    word-break: break-word;
    padding-right: 50px;
}

.clear_button{
    border: none;
    background-color: transparent;
}

.task-item{
    min-height: 60px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]:checked +  .todo-app__footer-radio-replica{
    outline: 1px solid #EBDFDF;
}

input[type="radio"]:focus + .todo-app__footer-radio-replica {
    border: 1px solid #000000;
}

.todo-app__footer-radio-replica{
    padding: 2px 8px;
    border-radius: 2px;
}

.todo-app_bottom-one{
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.todo-app_bottom-two{
    width: 538px;
    box-shadow: 0px 2px 4px 0px #00000033;
    height: 5px;
    background-color: #FFFFFF;
    z-index: -2;
}

.items-left{
    padding-left: 12px;
}

.clear{
    padding-right: 12px;
}
